

$buttonColor: #669609;
$fontHeadColor: #000000;
$ulineColor: #0E9CC3;
$bgImg: url('../img/m-h-day.jpg');
$leftLinearColor: #66960c;
$rightLinearColor: #305ecf;
$txtfont:'Hind', sans-serif;
$bodyBg: #fff;
$BGcardfooter: #161823;
$margfirst: 13px;
