

$buttonColor: #E3AC13;
$fontHeadColor: #fff;
$ulineColor: #FF4E33;
$bgImg: url('../img/m-h-night.jpg');
$leftLinearColor: #E0A713;
$rightLinearColor: #8D2A49;
$txtfont:'Fresca', sans-serif;
$bodyBg: #161823;
$BGcardfooter: #2F3343;
$margfirst: 18px;
